:root {
    --heading-color: rgb(88, 108, 121);
    --btn-text-color: rgb(137, 166, 176); 
    --btn-background-color: rgb(119, 112, 112);
}

.h-100 {
    height: 100%;
}

#container {
    height: 100vh;
    background-image: url("../images/background_IMG.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0px;
}
.wrapper {
    background-color: rgb(209, 222, 217);  
    width: 1260px;
    margin: 0 auto;
    height: calc(100vh - 150px);
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 15px 3px rgb(203, 204, 194);
}
.wrapper > .row {
    position: absolute;
    width: 100%;
    height: 100%;
}
.intro {
    border-radius: 20px;
    text-align: center;
    height: 100%;
    background-color: rgb(199, 210, 206);
    color: rgb(91, 91, 98);
    padding: 40px 40px;
    display: flex;
    align-items: center;
}
.intro ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.intro img{
    border-radius: 50%;
}
.intro a{
    color: rgb(96, 96, 100);
}
#content {
    position: relative;

}
.content {
    position: relative;  /* Add this to contain the absolute positioning */
    width: 100%;        /* Add this to ensure proper width calculation */
    height: 100%;       /* Add this to ensure proper height calculation */
}
.content > section {
    overflow-y: scroll;
}
#home {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home h1 {
    font-size: 5em;
    color: var(--heading-color);
}
#home p {
    font-size: 2em;
    color: var(--heading-color);
}
#about, #skills {
    padding: 50px;
    padding-top: 40px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(209, 222, 217);
    color: var(--heading-color);
}
#about h2, #skills h2 {
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(42, 45, 45);
}
#about p{
    text-align: justify;
}
#about ul li{
    letter-spacing: 1px;
}
#about ul li span {
    color: var(--heading-color);
    font-weight: bold;
}

#about .icon{
    color: rgb(84, 148, 192);
    font-size: 2em;
}
#about h4 {
    font-size: 1.2em;
}
.timeline {
    position: relative;
}
.timeline .box {
    background-color: rgb(184, 223, 235);
    color: var(--heading-color);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    position: relative;
}
.timeline .box .left{
    padding-left: 0px;
}
.timeline .box .inner-box {
    background-color: aliceblue;
    padding: 20px;
}
.timeline .box.right {
    position: relative;
    left: 50%;
    padding-left: 25px;
}
.timeline .box:after {
    content: "";
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    background-color: rgb(130, 155, 188);
    border-radius: 50%;
    z-index: 1;
}
.timeline .box.left::after{
    right: -13px;
}
.timeline .box.right::after{
    left: -7px;
}
.timeline::after {
    content: "";
    height: 100%;
    left: 50%;
    top: 0%;
    position: absolute;
    border: 3px solid white;
}
.timeline .box::before{
    content: "";
    position: absolute;
    margin-top: -10px;
    top: 40%;
    z-index: 2;
    border: 20px solid;
}
.timeline .box.left::before{
    border-color: transparent transparent transparent aliceblue;
    right: -12px;
}
.timeline .box.right::before{
    border-color: transparent aliceblue transparent transparent;
    left: -6px;
}
